@model IEnumerable<FirstMvc.Models.Unversitet>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@*@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@

@foreach (var item in Model)
{
    <div class="card" style="width: 18rem; display : inline-block;">
  <img src="@item.ImageURL" class="card-img-top" alt="@item.Name">
  <div class="card-body">
    <h5 class="card-title">@item.Name</h5>
    <p class="card-text">
        @foreach(var talaba in item.Talabas.ToList())
            {
                <p style = "display : inline-block">
                    @Html.DisplayFor(modelItem => talaba.Ismi)
                    , 
                </p> 
            }
    </p>
    <a asp-action="Details" asp-route-id="@item.Id">
        <button type="button" class="btn btn-success" >Details</button>
    </a>
    <a asp-action="Edit" asp-route-id="@item.Id">
        <button type="button" class="btn btn-warning">Edit</button>
    </a>
    <a asp-action="Delete" asp-route-id="@item.Id">
        <button type="button" class="btn btn-danger">Delete</button>
    </a>
  </div>
</div>
}
<style>
    a{
    all: unset;
    }
</style>