@model FirstMvc.Models.Talaba

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Talaba</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ismi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ismi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Yoshi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Yoshi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manzili)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manzili)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
